{
	"extends": "airbnb",
	"rules": {
		"linebreak-style": "off",
		"eol-last": "off",
		"no-underscore-dangle": "off",
		"indent": ["error", "tab"],
		"max-len": "off",
		"newline-per-chained-call": "off",
		"one-var": ["error", "always"],
		"object-curly-spacing": ["error", "never"],
		"comma-dangle": ["error", "never"],
		"no-console": "off",
		"arrow-body-style": "off",
		"no-shadow": "off",
		"one-var-declaration-per-line": ["error", "initializations"],
		"no-param-reassign": "off",
		"guard-for-in": "off",
		"consistent-return": "off",
		"no-nested-ternary": "off",
		"func-names": "off",
		"react/jsx-indent": ["error", "tab"],
		"react/jsx-indent-props": ["error", "tab"]
	},
	"globals": {
		"io": true,
		"app": true,
		"document": true,
		"window": true
	},
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"plugins": [
		"react"
	]
}