*.sublime-project
*.sublime-workspace
node_modules
dev/*
.sass-cache
clientlibs
apps
etc
*.xml
.vlt
content
./*.png
home
libs
var
.DS_Store
*.log
data/*
data/mongod.lock
public/semantic/*
misc/*
public/scripts/bundle.js
