doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		link(rel="stylesheet", type="text/css", href="semantic/dist/semantic.min.css")
		link(rel="stylesheet", type="text/css", href="styles/style.css")
		link(rel="author" href="humans.txt")
		//- link(href='https://fonts.googleapis.com/css?family=Raleway:400,700', rel='stylesheet', type='text/css')
		title One Night Werewolf
	body
		#main.ui.container
			block content

		section.signin-modal.ui.modal.small.segment.column
			h2.header Sign in to your account
			form.ui.form
				.field
					.ui.left.icon.input
						i.user.icon
						input#signin-username(placeholder="Username")
				.field
					.ui.left.icon.input
						i.lock.icon
						input#signin-password(placeholder="Password", type="password")
				button.ui.primary.button.fluid.large.signin-submit Submit
				.ui.dimmer.inverted
					.ui.text.loader Signing in..
				.ui.negative.hidden.message

		section.signup-modal.ui.modal.small.segment.column
			h2.header Sign up for an account
			form.ui.form
				.field
					.ui.left.icon.input
						i.user.icon
						input#signup-username(placeholder="Username")
					.ui.info.message.hidden
				.field
					.ui.left.icon.input
						i.lock.icon
						input#signup-password(placeholder="Password", type="password", maxlength="50")
					.ui.info.message.hidden
				button.ui.primary.button.fluid.large.signup-submit Submit
				.ui.dimmer.inverted
					.ui.text.loader Signing up..
				.ui.negative.hidden.message
		script(src="scripts/bundle.js")
		block footer