extends layout

block content
	nav.ui.teal.menu.inverted
		a.item.right#logout(href="#") Logout
	a(style="float: right" href="/chat") Back to game
	h1.ui.header My account
	button#change-password.ui.primary.button(style="display: block; margin: 0 auto;") Change your password


	section.passwordchange-modal.ui.modal.small.segment.column
		h2.header Change your password
		form.ui.form
			.field
				.ui.left.icon.input
					i.lock.icon
					input#passwordchange-password(placeholder="New password")
			.field
				.ui.left.icon.input
					i.lock.icon
					input#passwordchange-confirmpassword(placeholder="Confirm new password")
			button.ui.primary.button.fluid.large#passwordchange-submit Submit
			.ui.dimmer.inverted
				.ui.text.loader Changing your password..
			.ui.negative.hidden.message
			.ui.hidden.message Successfully changed your password!