extends layout
block content
	nav.ui.secondary.pointing.top.fixed.menu#top-menu
		.left.menu
			a.ui.button(href="/observe") Observe Now
		a.item(href="/") Home
		a.item(href="/rules") Rules
		a.active.item How to Play
		a.item(href="/about") About
		if username
			div.item.right
				a.right#logout(href="#", style="margin-right: 20px;") Logout
				a.right(href="/account") Account
		else
			.right.menu
				.ui.buttons
					button.ui.button Sign In
					.or
					button.ui.positive.button Sign Up
	.ui.segment
		h1.ui.header How to play One Night Werewolf Online
	.ui.segment
		h2.ui.header
		p The default UI.  Click on games to the left to join the game view or to make your own game - white means seats are still available, yellow is an in progress game, blue is a completed game who's players have not all left.  View your game settings on the top menu, see who's online to the upper right, and read general chat to the lower right.  A red title denotes kill or be killed mode is on for that game.
		p The game view. Click a person's name, or a gamerole on the bottom, to put it into the chat input.  Clicking the expando next to chat will also preload the chat input with useful text.  You can also filter to only certain types of text to the upper right.
		p Settings view - self explanatory
		p Create games view - select 10 roles to create a new game, jump to the game view, and then wait for 6 more players to join.  Leaving a game you are the only seated player at deletes it. Kill or be killed mode forces there to be at least one werewolf among the seated players meaning they all can't be in the center cards.  This makes the village team more powerful and should be used carefully.