extends layout
block content
	nav.ui.secondary.pointing.top.fixed.menu#top-menu
		.left.menu
			button.ui.green.button Observe Now
		a.active.item Home
		a.item Rules
		a.item How to Play
		a.item About
		.right.menu
			.ui.buttons
				button.ui.button Sign In
				.or
				button.ui.positive.button Sign Up
	.header-container
		h1.ui.header One Night Werewolf
	.ui.grid
		.row#general-info
			.ten.wide.column
				h2.ui.header What is One Night Werewolf
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	consequat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat no proiden sunt in culpa qui officia deserunt mollit anim id est laborum
			.six.wide.column
				ph2.ui.header What is One Night Werewolf
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	consequat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat no proiden sunt in culpa qui officia deserunt mollit anim id est laborum
		.row.row-video
			.video-container
		.ui.inverted.menu
			a.item Home
			a.item Rules
			a.item How to Play
			a.item About
			.left.menu

















	section.signin-modal.ui.modal.small.segment.column
		h2.header Sign in to your account
		form.ui.form
			.field
				.ui.left.icon.input
					i.user.icon
					input#signin-username(placeholder="Username")
			.field
				.ui.left.icon.input
					i.lock.icon
					input#signin-password(placeholder="Password")
			button.ui.primary.button.fluid.large.signin-submit Submit
			.ui.dimmer.inverted
				.ui.text.loader Signing in..
			.ui.negative.hidden.message

	section.signup-modal.ui.modal.small.segment.column
		h2.header Sign up for an account
		form.ui.form
			.field
				.ui.left.icon.input
					i.user.icon
					input#signup-username(placeholder="Username")
			.field
				.ui.left.icon.input
					i.lock.icon
					input#signup-password(placeholder="Password")
			button.ui.primary.button.fluid.large.signup-submit Submit
			.ui.dimmer.inverted
				.ui.text.loader Signing up..
			.ui.negative.hidden.message