extends layout
block content
	nav.ui.teal.menu.inverted
		a.ui.left.button.primary(href="/game") Play now
		div.item.right
			a.right#logout(href="#", style="margin-right: 20px;") Logout
			a.right(href="/account") My account
	h1.ui.header One Night Werewolf