extends signed-out
block footer
	script.
		document.addEventListener('DOMContentLoaded', function () {
			// once jquery is moved out of babelify to a global, you can fire the modal popup here
			
			//- $('section.signup-modal')
			//- 	.modal('setting', 'transition', 'vertical flip')
			//- 	.modal('show');
		});