extends layout
block content
	nav.ui.secondary.pointing.top.fixed.menu#top-menu
		.left.menu
			if username
				a.ui.button(href="/game") Play Now
			else
				a.ui.button(href="/observe") Observe Now
		a.item(href="/") Home
		a.item(href="/rules") Rules
		a.item(href="/how-to-play") How to Play
		a.item(href="/about") About
		div.item.right
			a.right#logout(href="#", style="margin-right: 20px;") Logout
			a.right(href="/account")
				= username + '\'s account'
	.ui.container.howtoplay-container
		h1.ui.centered.header My account
		h3.ui.centered.header Account verification status: 
			if verified
				span.verified-yes Verified
			else
				span.verified-no Not verified
			if email
				p.current-email Current Email: 
					span(style="color: blue")
						= email
				button#change-email.ui.primary.button(style="display: block; margin: 5px auto 0;") Change your email address
				if !verified
					button#request-verification.ui.primary.button(style="display: block; margin: 5px auto 0;") Request a new verification email
			else
				button#add-email.ui.primary.button(style="display: block; margin: 5px auto 0;") Add an email address (sends verification email)

		button#change-password.ui.primary.button(style="display: block; margin: 0 auto;") Change your password
		//- button#delete-account.ui.primary.button(style="display: block; margin: 10px auto 0;") Delete your account

	section.passwordchange-modal.ui.modal.small.segment.column
		h2.header Change your password
		form.ui.form
			.field
				.ui.left.icon.input
					i.lock.icon
					input#passwordchange-password(placeholder="New password", type="password")
			.field
				.ui.left.icon.input
					i.lock.icon
					input#passwordchange-confirmpassword(placeholder="Confirm new password", type="password")
			button.ui.primary.button.fluid.large#passwordchange-submit Submit
			.ui.dimmer.inverted
				.ui.text.loader Changing your password..
			.ui.negative.hidden.message
			.ui.hidden.message Successfully changed your password!

	section.emailchange-modal.ui.modal.small.segment.column
		h2.header Change your email
		form.ui.form
			.field
				.ui.left.icon.input
					i.lock.icon
					input#emailchange-email(placeholder="New email")
			.field
				.ui.left.icon.input
					i.lock.icon
					input#emailchange-confirmemail(placeholder="Confirm new email")
			button.ui.primary.button.fluid.large#emailchange-submit Submit
			.ui.dimmer.inverted
				.ui.text.loader Changing your email..
			.ui.negative.hidden.message
			.ui.hidden.message Successfully changed your email!

	section.requestemail-modal.ui.modal.small.segment.column
		h2.header Email sent!
		p Please check your email to verify your account.

	section.deleteaccount-modal.ui.modal.small.segment.column
		h2.header Delete your account
		.ui.warning.message This cannot be undone.
		form.ui.form
			.field
				.ui.left.icon.input
					i.lock.icon
					input#deleteaccount-password(placeholder="Your current password")
			button.ui.primary.button.fluid.large#deleteaccount-submit Submit
			.ui.dimmer.inverted
				.ui.text.loader Deleting your account..
			.ui.negative.hidden.message
			.ui.hidden.message Successfully deleted your accountdoctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="msapplication-TileColor" content="#034f61")
		meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
		meta(name="theme-color" content="#034f61")
		meta(name="description" content="One Night Werewolf Online - A multiplayer game of deception and deduction.")
		if game
			if isDark
				link(rel="stylesheet", type="text/css", href="/styles/style-dark.css")
			else
				link(rel="stylesheet", type="text/css", href="/styles/style.css")
		else
			meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
			link(rel="stylesheet", type="text/css", href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css")
			link(rel="stylesheet", type="text/css", href="/styles/style-web.css")
		link(href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css")
		link(rel="author" href="humans.txt")
		link(rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
		link(rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png")
		link(rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png")
		link(rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png")
		link(rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png")
		link(rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png")
		link(rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png")
		link(rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png")
		link(rel="manifest" href="/manifest.json")
		title One Night Werewolf Online
	body
		#main.ui.container
			block content

		section.signin-modal.ui.modal.small.segment.column
			h2.header Sign in to your account
			form.ui.form(style="text-align: center;")
				.field
					.ui.left.icon.input
						i.user.icon
						input#signin-username(placeholder="Username")
				.field
					.ui.left.icon.input
						i.lock.icon
						input#signin-password(placeholder="Password", type="password")
				button.ui.primary.button.fluid.large.signin-submit Submit
				.ui.dimmer.inverted
					.ui.text.loader Signing in..
				.ui.negative.hidden.message
				a#reset-password Forget your password?

		section.password-reset-modal.ui.modal.small.segment.column
			h2.header Request a password reset
			form.ui.form
				.field
					.ui.left.icon.input
						i.user.icon
						input#password-reset-email(placeholder="Verified email address")
				button.ui.primary.button.fluid.large#password-reset-submit Submit
				.ui.dimmer.inverted
					.ui.text.loader Checking your account..
				.ui.negative.hidden.message
				.ui.info.hidden.message

		section.signup-modal.ui.modal.small.segment.column
			h2.header Sign up for an account
			form.ui.form
				.field
					.ui.left.icon.input
						i.user.icon
						input#signup-username(placeholder="Username", spellcheck="false")
					.ui.info.message.hidden
				.field
					.ui.left.icon.input
						i.lock.icon
						input#signup-password1(placeholder="Password", type="password", maxlength="255")
					.ui.info.message.hidden
				.field
					.ui.left.icon.input
						i.lock.icon
						input#signup-password2(placeholder="Repeat password", type="password", maxlength="255")
					.ui.info.message.hidden
				.field
					.ui.left.icon.input
						i.mail.icon
						input#signup-email(placeholder="Email (optional)", maxlength="100", spellcheck="false")
				button.ui.primary.button.fluid.large.signup-submit Submit
				.ui.dimmer.inverted
					.ui.text.loader Signing up..
				.ui.negative.hidden.message
		if game
			script(src="/scripts/bundle.js")
		else
			script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js")
			script(src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js")
			script(src="/scripts/site.js")
		block footer