.table-container .table {
	.seat-container .eliminator {
		margin: 0;
		position: absolute;
		width: 20px;
		height: 26px;
		z-index: 1;
		background: #db2828;
		opacity: 0;
		transition: width 2s, opacity 2s;

		&:after {
			transition: opacity 2s, left 2s, top 2s;
			opacity: 0;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			position: absolute;
			border-width: 22px 0 22px 30px;
			border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #DB2828;
			left: 15px;
			top: -9px;
		}
	}

	.seat-container0 .eliminator.target-seat1 {
		transform: rotate(18deg);
		opacity: .7;
		width: 120px;
		left: 285px;
		top: 70px;

		&:after {
			opacity: 1;
			left: 120px;
			top: -9px;
		}
	}

	.seat-container0 .eliminator.target-seat2 {
		left: 260px;
		top: 135px;
		transform: rotate(39deg);
		width: 275px;
		opacity: .7;

		&:after {
			opacity: .7;
			left: 275px;
			top: -9px;
		}
	}

	.seat-container1 .eliminator.target-seat0 {
		top: 78px;
		left: 312px;
		width: 150px;
		transform: rotate(198deg);
		opacity: .7;

		&:after {
			opacity: .7;
			left: 150px;
			top: -9px;
		}
	}

	.seat-container1 .eliminator.target-seat2 {
		top: 135px;
		left: 438px;
		width: 80px;
		transform: rotate(64deg);
		opacity: .7;

		&:after {
			opacity: 1;
			left: 80px;
			top: -9px;
		}
	}	
	
	.seat-container3 .eliminator {
		top: 240px;
		left: 520px;
	}
}