.game > .ui.grid {
	margin: 0;

	> .row:first-child {
		height: 440px;
		padding: 0;
	}

	.chat-container {
		background: #f6f6f6;
		padding: 0;

		.gamestatus {
			font-size: 22px;
			font-style: italic;
			color: #eee;
			background: #555;
			padding: 3px 0px 7px 8px;
		}

		.gamechat {
			margin: 0;
			background: #f6f6f6;

			.pointing.menu {
				margin: 0;

				.item {
					padding: 8px;		
				}

				.icon {
					margin: 7px 0 0 180px;
					opacity: .5;
					cursor: pointer;
				}
			}

			.chatpusher {
				height: 290px;
			}

			.chats {
				height: 335px;
				overflow-y: scroll;
				background: #fdfdfd;
				font-size: 18px;
				padding-left: 5px;

				.item {
					line-height: 1;
					padding: 0;
				}

				.chat-user {
					color: #16AB39;

					.chat-timestamp {
						color: #21792A;
						font-size: 12px;
					}
				}

				.chat-user--game .chat-timestamp {
					font-size: 12px;
				}

				.chat-user--game, .game-chat, .chat-user--game .chat-timestamp {
					color: #8B8B8B;
				}
			}

			.inputbar {
				span {
					padding-left: 20px;
				}

				.input {
					width: 290px;
					
					button {
						padding: 0px 10px;
					}
				}
			}
		}
	}


	.gameroles-container {
		background: #eee;
	}
}