.game > .ui.grid {
	margin: 0;

	> .row:first-child {
		height: 440px;
		padding: 0;
	}

	.table-container {
		background: #fafafa;
		padding: 0;

		.table {
			position: relative;

			.tableimage {
				position: absolute;
				top: 90px;
				left: 70px;
				box-shadow: 0px 0px 2px 1px #ddd;
				width: 440px;
				height: 280px;
				border-radius: 50%;
				background-image: url('../images/crossword.png');
				background-repeat: repeat;
			}

			.seat {
				width: 59px;
				height: 80px;
				background: #ccc;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 4px;
			}

			.seat1 {
				top: 20px;
				left: 260px;
			}

			.seat2 {
				top: 70px;
				left: 430px;
			}

			.seat3 {
				top: 210px;
				left: 500px;
			}

			.seat4 {
				top: 320px;
				left: 360px;
			}

			.seat5 {
				top: 70px;
				left: 90px;
			}

			.seat6 {
				top: 210px;
				left: 20px;
			}

			.seat7 {
				top: 320px;
				left: 160px;
			}

			.mid1 {
				top: 190px;
				left: 260px;
			}

			.mid2 {
				top: 190px;
				left: 180px;
			}

			.mid3 {
				top: 190px;
				left: 340px;
			}

			.remove.icon {
				position: absolute;
				top: 10px;
				left: 550px;
				opacity: 0.3;
				cursor: pointer;
				font-size: 30px;
			}
		}	
	}

	.chat-container {
		background: #ddd;
	}

	.gameroles-container {
		background: #eee;
	}
}