.leftsidebar {
	padding-left: 0;
	padding-right: 0;

	> .button {
		width: 100%;
		margin-bottom: 10px;
	}

	.vertical.segment {
		cursor: pointer;
		padding: 6px 5px 3px 0;
		border: none;

		.inprogress { // todo-alpha implement this idea for inprogress and completed games
			background: #DAE3FF;
		}

		> div:first-child {
			> span {
				float: right;
			}

			.seatedcount {
				margin-right: 15px;
			}

			.gamename {
				float: left;
			}

			.kobk {
				color: $werewolfteam;
			}

			&:after {
				display: block;
				content: '';
				clear: both;
			}
		}

		.rolelist {
			font-family: "Raleway", Helvetica, Arial, sans-serif;
			font-weight: 700;
			> div {
				text-align: center;

				div {
					width: 20%;
					float: left;
					padding: 2px 0;
					border: 1px solid #eee;
				}

				.village {
					color: #fff;
					background: $villageteam;
				}

				.werewolf {
					background: $werewolfteam;
				}
				
				.tanner {
					background: $tannerteam;
				}

				&:after {
					display: block;
					content: '';
					clear: both;
				}
			}
		}
	}

	.vertical.segment.inprogress {
		background: $notification;
	}

	.vertical.segment.completed {
		background: $proceed;
		color: #fff;
	}

	.games-container {
		height: 550px;
		overflow-y: scroll;
	}
}