.section-right {
	padding-left: 0 !important;
	padding-right: 0 !important;

	.right-header {
		padding: 5px 5px 30px 5px;

		i {
			float: right;
		}

		> div {
			&:after {
				content: '';
				display: table;
				clear: both;
			}
			> div {
				float: left;

				.playername {
					color: $villageteam;
				}
			}
		}
	}

	.playerlist {
		height: 250px;
		max-height: 250px;
		overflow-y: scroll;
		background: #FFFCF9;

		.divider {
			margin-bottom: 0;
		}
	}
}