.section-right {
	padding-left: 0 !important;
	padding-right: 0 !important;

	.right-header {
		padding: 5px 5px 30px 5px;

		i {
			float: right;
			cursor: pointer;
		}

		i.disabled {
			cursor: not-allowed;
		}

		> div {
			&:after {
				content: '';
				display: table;
				clear: both;
			}
			> div {
				float: left;

				.playername {
					color: $villageteam;
				}
			}
		}
	}

	.playerlist {
		height: 250px;
		max-height: 250px;
		overflow-y: scroll;
		background: #FFFCF9;
		padding: 10px;

		> div {
			&:after {
				content: '';
				display: table;
				clear: both;
			}
		}

		.userlist-stats-container {
			float: right;
			color: #bdbdbd;
		}

		.divider {
			margin-top: 3px;
			margin-bottom: 0;
		}

		i {
			margin-top: -5px;
		}


		.ui.header {
			float: left;
			margin-bottom: 0;

			~ div {
				float: right;
			}
		}
	}
}