$werewolfteam: #DC6969;
$villageteam: #4B6A90;
$tannerteam: #DCB469;
$notification: #FBBD08;
$selection: #DB2828;
$proceed: #2185D0;
$lteal: #097892;
$dteal: #034f61;

body {
	background-image: url('../images/pw_maze_white.png');
	min-width: 624px;
	overflow-x: auto;
}

.clearfix:after {
	display: table;
	content: '';
	clear: both;
}

.team-werewolf {
	color: $werewolfteam;
}

.team-village {
	color: $villageteam;
}

.team-tanner {
	color: $tannerteam;
}

#header-container {
	text-align: center;
	margin-top: 45px;
	background: radial-gradient(ellipse at center, #056e8e 0%, #002323 100%);
	background-color: #002323;

	h1.ui.header {
		color: #eee;
		font-size: 44px;
		font-family: 'raleway', 'lato', helvetica, arial, sans-serif;
		text-shadow: 3px 3px #000;
	}
}

p {
	font-size: 16px;
}

#top-menu {
	.left.menu .button {
		background: $werewolfteam none !important;
		color: #fff;
	}

	.ui.button {
		background: $lteal none !important;
		color: #fff;
	}
}

@media only screen and (min-width: 1200px) {
	#top-menu {
		width: 1127px;
		margin-left: -563px !important;
		left: 50%;
	}
}

.ui.grid.mainpage {
	background: #eee;
	box-shadow: 0px 3px 4px 1px #ccc;

	h2 {
		font-size: 30px;
		text-align: center;
	}
}

#general-info {
	.news {
		background: $tannerteam;
		box-shadow: 0 0 2px 2px #ccc;
		border-radius: 5px;
	}

	img {
		margin-top: 40px;
	}
}

#general-info, #top-menu{
	background: #eee;
}

.signin-modal, .signup-modal {
	margin-left: -125px !important;
}

.signinnag {
	margin-left: -237px;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #717171;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #191919;
}
::-webkit-scrollbar-thumb:active {
  background: #c4c4c4;
}
::-webkit-scrollbar-track {
  background: #bfbfbf;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #a4a4a4;
}
::-webkit-scrollbar-corner {
  background: transparent;
}