.ui.menu {
	border-radius: 0;
}

#game-container .section-main {
	padding-left: 0;
	padding-right: 0;
}

.section-left, .section-right {
	border: 1px solid rgba(34,36,38,.15);
	box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.section-main > section {
	min-height: 555px;
}

.defaultmid {
	background: #ddd;
}

#game-container .section-main {
	padding-bottom: 0;
}

.section-main > .menu {
	margin: 0;
}

.creategame {
	padding: 2%;

	> .header {
		text-align: center;
		margin-bottom: 20px;
	}

	.grid h4 {
		margin-bottom: 5px;
	}

	.gamename {
		text-align: center;
		input {
			width: 80%;
		}
	}

	.selectdefaults {
		text-align: center;

		.button {
			margin: 0 auto;
			width: 50%;
		}

		.popup {
			width: 270px;
			max-width: inherit;
		}
	}
}