.ui.menu {
	border-radius: 0;
}

#game-container .section-main {
	padding-left: 0;
	padding-right: 0;
}

.section-left, .section-right {
	border: 1px solid rgba(34,36,38,.15);
	box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.section-main > section {
	min-height: 555px;
}

.defaultmid {
	background: #ddd;
}

#game-container .section-main {
	padding-bottom: 0;
}

.section-main > .menu {
	margin: 0;
}

.creategame {
	padding: 2%;

	> .header {
		text-align: center;
		margin-bottom: 20px;
	}

	.grid h4 {
		margin-bottom: 5px;
	}

	.gamename {
		text-align: center;
		input {
			width: 80%;
		}
	}

	.selectdefaults {
		text-align: center;

		.button {
			margin: 0 auto;
			width: 50%;
		}

		.popup {
			width: 270px;
			max-width: inherit;
		}
	}

	.timeofgame {
		text-align: center;
	}

	.killorbekilled {
		.popup {
			width: 195px;
		}

		.checkbox {
			width: 55px;
			margin: 0 auto;
			display: block;
		}
	}

	.pickroles .column {
		height: 120px;
		width: 15% !important;
		margin: 0 2.5% !important;
		padding: 0 !important;
		text-align: center;

		p {
			border: 1px solid grey;
			background: #4B6A90;
			height: 110px;
			margin-bottom: 5px;
			border-radius: 4px;
		}

		span {
			font-size: 20px;
			margin: 0 4%;
		}

	}

	.pickroles {
		.row:last-child {
			margin-bottom: 30px;
		}
		
		.werewolf p, .minion p {
			background: #DC6969;
		}

		.tanner p {
			background: #DCB469;
		}
	}
}