$werewolfteam: #DC6969;
$villageteam: #4B6A90;
$tannerteam: #DCB469;
$notification: #FBBD08;
$selection: #DB2828;
$proceed: #2185D0;

@import 'creategame.scss';
@import 'leftsidebar.scss';
@import 'game.scss';
@import 'gameroles.scss';
@import 'settings.scss';
@import 'table.scss';
@import 'eliminator.scss';
@import 'rightsidebar.scss';

body {
	background-image: url('../images/pw_maze_white.png');
}

.app-hidden {
	display: none !important;
}

.ui.menu {
	border-radius: 0;
}

#game-container .section-main {
	padding-left: 0;
	padding-right: 0;
}

.section-left, .section-right, .section-main {
	border: 1px solid rgba(34,36,38,.15);
	box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
	background: #fff;
}

.section-main > section {
	min-height: 555px;
}

.defaultmid {
	background: #ddd;
}

#game-container .section-main {
	padding-bottom: 0;
}

.section-main > .menu {
	margin: 0;
}
.header-container {
	text-align: center;
	height: 400px;
	background-image: url('../images/1127X400.jpeg');
	margin-top: 45px;
}
.row-video {
	background: #ccc;
	min-height: 630px;
	padding: 0 !important;

	.video-container {
		background: #666;
		width: 840px;
		margin: 0 auto;
	}
}
#top-menu {
	margin-left: 5.7%;
	width: 88.6%; 
}
#general-info, #top-menu{
	background: #eee;

}