.table-container {
	background: #fafafa;
	padding: 0;
	overflow: hidden;


	.table {
		position: relative;

		.nightblocker {
			position: absolute;
			left: 0;
			width: 585px;
			height: 220px;
			background: #000;
			transition: all 1s;
			z-index: 3;
		}

		.nightblocker.nightblocker-top {
			top: -220px;
		}

		.nightblocker.nightblocker-bottom {
			top: 440px;
		}

		.nightblocker.nightblocker-top-blocked {
			top: 0px;
		}

		.nightblocker.nightblocker-bottom-blocked {
			top: 220px;
		}

		.tableimage {
			position: absolute;
			top: 90px;
			left: 70px;
			box-shadow: 0px 0px 2px 1px #ddd;
			width: 440px;
			height: 280px;
			border-radius: 50%;
			background-image: url('../images/crossword.png');
			background-repeat: repeat;
		}

		.seat {
			width: 59px;
			height: 80px;
			background: #e5e5e5;
			position: absolute;
			border-radius: 4px;
			text-align: center;
			padding: 5px;

			.username {
				position: absolute;
				top: -20px;
				left: 50%;
				margin-left: -30px;
				width: 100%;
				text-align: center;
			}
		}

		.card {
			top: 190px;
			left: 260px;
			position: absolute;
			perspective: 1000;
			transition: all 2s;

			.card-flipper {
				width: 59px;
				height: 80px;
				transition: 1s;
				transform-style: preserve-3d;
				position: relative;
			}

			.card-flipper.flip {
				transform: rotateY(180deg);
			}

			.card-front, .card-back {
				border-radius: 4px;
				backface-visibility: hidden;
				border: 1px solid #eee;
				position: absolute;
				top: 0;
				left: 0;
				width: 59px;
				height: 80px;
			}

			.card-front {
				transform: rotateY(180deg);
				background-size: cover;
			}

			.card-back {
				z-index: 2;
				transform: rotateY(0deg);
				background-image: url('../images/vertical_cloth.png');
			}

			.card-front.werewolf {
				background-image: url('../images/cards/card-werewolf.png');
			}

			.card-front.minion {
				background-image: url('../images/cards/card-minion.png');
			}

			.card-front.mason {
				background-image: url('../images/cards/card-mason.png');
			}

			.card-front.seer {
				background-image: url('../images/cards/card-seer.png');
			}

			.card-front.robber {
				background-image: url('../images/cards/card-robber.png');
			}

			.card-front.troublemaker {
				background-image: url('../images/cards/card-troublemaker.png');
			}

			.card-front.insomniac {
				background-image: url('../images/cards/card-insomniac.png');
			}

			.card-front.hunter {
				background-image: url('../images/cards/card-hunter.png');
			}

			.card-front.tanner {
				background-image: url('../images/cards/card-tanner.png');
			}

			.card-front.villager {
				background-image: url('../images/cards/card-villager.png');
			}
		}

		.card.flipped {
			transform: rotateY(180deg);
		}


		.seat1 {
			top: 20px;
			left: 260px;
		}

		.seat2 {
			top: 70px;
			left: 430px;
		}

		.seat3 {
			top: 210px;
			left: 500px;
		}

		.seat4 {
			top: 320px;
			left: 360px;
		}

		.seat5 {
			top: 70px;
			left: 90px;
		}

		.seat6 {
			top: 210px;
			left: 20px;
		}

		.seat7 {
			top: 320px;
			left: 160px;
		}

		.seat8 {
			top: 190px;
			left: 180px;
			display: none;
		}

		.seat9 {
			top: 190px;
			left: 260px;
			display: none;
		}

		.seat10 {
			top: 190px;
			left: 340px;
			display: none;
		}

		.remove.icon {
			position: absolute;
			top: 10px;
			left: 535px;
			opacity: 0.3;
			cursor: pointer;
			font-size: 30px;
		}

		.card-notify {
			box-shadow: 0 0 4px 4px $notification;
		}

		.card-select {
			box-shadow: 0 0 4px 4px $selection;
		}

		.card-proceed {
			box-shadow: 0 0 4px 4px $proceed;
		}
	}	
}